h1 {
    justify-content: center;
    align-items: center;
    font-family: verdana;
    display: flex;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #621200;
    font-family: verdana; /* Set a suitable font family */
    color: #fff; /* Set text color to white or another contrasting color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the body to take up the full height of the viewport */
  }
  
  .login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #621200; /* Set background color for the form container */
    justify-content: center;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }
  
  button {
    width: 110px;
    background-color: #621200;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 15px;
    display: block;
    margin: auto;
  }
  
  button:hover {
    background-color: #ffd700 ;
  }
  
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: '150px';
  }
  
  .back-link {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
.image{
  margin-left: 70px;
}